.home-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.more-post {
	margin: auto;
	margin-top: 3vh;
	margin-bottom: 3vh;
	padding: 1rem;
	display: flex;
	border-radius: 1rem;
	border: none;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.more-post:hover {
	cursor: pointer;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	transition: all 500ms;
}
.more-post-icon {
	font-size: 150%;
}
